<!DOCTYPE html>
<html>

<head>

<title>Movie Recommendation System</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-dark text-white">

<div class="container text-center mt-5">

<h1 class="mb-4">🎬 Movie Recommendation System</h1>

<form method="POST">

<input class="form-control mb-2" id="movieInput" type="text" name="movie" placeholder="Enter movie name">

<ul class="list-group" id="suggestions"></ul>

<button class="btn btn-warning mt-3">Recommend</button>

</form>

</div>


<div class="container mt-5">

<h2 class="mb-3">🔥 Trending Movies</h2>

<div class="row">

{% for movie in trending %}

<div class="col-md-3 mb-3">

<div class="card bg-secondary text-white">

<div class="card-body text-center">

<h5>{{movie.title}}</h5>
<p>⭐ {{movie.avg_rating}}</p>

</div>

</div>

</div>

{% endfor %}

</div>

</div>


<div class="container mt-5">

<h2 class="mb-3">🎯 Recommended Movies</h2>

<div class="row">

{% for movie in recommendations %}

<div class="col-md-3 mb-3">

<div class="card bg-success text-white">

<div class="card-body text-center">

<h5>{{movie.title}}</h5>
<p>⭐ {{movie.avg_rating}}</p>

</div>

</div>

</div>

{% endfor %}

</div>

</div>


<script>

const input = document.getElementById("movieInput")
const suggestionBox = document.getElementById("suggestions")

input.addEventListener("input", async () => {

let query = input.value

if(query.length < 2){
suggestionBox.innerHTML=""
return
}

let res = await fetch(`/search?q=${query}`)
let data = await res.json()

suggestionBox.innerHTML=""

data.movies.forEach(movie => {

let item=document.createElement("li")

item.classList.add("list-group-item","list-group-item-action")

item.textContent=movie

item.onclick=()=>{
input.value=movie
suggestionBox.innerHTML=""
}

suggestionBox.appendChild(item)

})

})

</script>

</body>

</html>